{% load i18n %}
<header>
  <a href="/" class="logo">makina<small>.al</small></a>
  <nav>
    <ul>
      <li><a href="{% url 'index' %}">{% translate "Home" %}</a></li>
      <li><a href="{% url 'vehicle-list' %}">{% translate "Vehicles" %}</a></li>
      <li><a href="{% url 'post-list' %}">{% translate "Blog" %}</a></li>
      <li><a href="{% url 'about-us' %}">{% translate 'About Us' %}</a></li>
      <li><a href="{% url 'contact-us' %}">{% translate 'Contact Us' %}</a></li>
      <li><a href="{% url 'privacy-policy' %}">{% translate 'Privacy Policy' %}</a></li>
    </ul>
  </nav>
  <nav>
    <ul>
      {% if user.is_authenticated %}
      <li><a href="{% url 'profile' %}">{{ user.username }}</a></li>
      <li><a href="{% url 'logout' %}">{% translate 'Logout' %}</a></li>
      {% else %}
      <li><a href="{% url 'login' %}">{% translate 'Login' %}</a></li>
      <li><a href="{% url 'register' %}">{% translate 'Register' %}</a></li>
      {% endif %}
    </ul>
  </nav>
</header>