{% extends 'base.html' %}

{% load i18n %}

{% block content %}
<div class="is-flex is-justify-content-space-between">
  <h1 class="title">{% translate 'Vehicles for Sale' %}</h1>
  <div>
    <a href="{% url 'vehicle-add' %}" class="button is-primary">Add new Vehicle</a>
    {% if perms.vehicles.publish_vehicle %}
    |
    <a href="{% url 'vehicle-manage' %}" class="button is-warning">Manage Vehicles</a>
    {% endif %}
  </div>
</div>
<div>
  <nav class="pagination is-centered" role="navigation" aria-label="pagination">
    <a class="pagination-previous">{% translate 'Previous' %}</a>
    <a class="pagination-next">{% translate 'Next' %}</a>
    <ul class="pagination-list">
      {% for page in pages %}
      <li>
        {% if page == paginator.ELLIPSIS %}
        <span class="pagination-ellipsis">{{ page }}</span>
        {% else %}
        <a class="pagination-link{% if page == page_obj.number %} is-current{% endif %}" href="?page={{ page }}">{{ page }}</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </nav>
</div>
{% for vehicle in vehicles %}
<p><a href="{% url 'vehicle-detail' pk=vehicle.pk %}">{{ vehicle }}</a></p>
{% endfor %}
{% endblock content %}