{% extends 'base.html' %}

{% block content %}
{% if vehicle %}
<h1>Edit <small>{{ vehicle }}</small></h1>
{% else %}
<h1>Add new Vehicle</h1>
{% endif %}

<form action="" method="post" enctype="multipart/form-data" novalidate>
  {% csrf_token %}
  {% for error in form.non_field_errors %}
  <div class="form-error">
    {{ error }}
  </div>
  {% endfor %}
  {% for field in form %}
  <div class="form-field">
    {{ field.label_tag }}
    {{ field }}
    {% if field.help_text %}
    <div class="field-help">{{ field.help_text }}</div>
    {% endif %}
    {% if field.errors %}
      {% for error in field.errors %}
      <div class="field-error">{{ error }}</div>
      {% endfor %}
    {% endif %}
  </div>
  {% endfor %}
  <table>
    <tbody>
      {{ formset.as_table }}
    </tbody>
    <tfoot>
      <tr>
        <td>
          <button type="button">+</button>
        </td>
      </tr>
    </tfoot>
  </table>
  <div class="form-actions">
    <button type="submit">Save</button>
  </div>
</form>
{% endblock content %}