{% extends "base.html" %}

{% block content %}
<h1>{{ vehicle.brand }} {{ vehicle.model }} ({{ vehicle.year }})</h1>
{% if vehicle.is_on_sale %}
<div class="alert alert-warning" role="alert">
    This vehicle is on sale!
</div>
{% endif %}
<p>Transmission: {{ vehicle.transmission }}</p>
<p>
    <a href="{% url 'vehicle_list' %}">Go back to listing</a>
</p>
<p>
    <form action="{% url 'vehicle_sale' pk=vehicle.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-info">Put on Sale</button>
    </form>
</p>
{% endblock content %}