{% extends "base.html" %}

{% block styles %}
{{ block.super }}
<style>
#login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  width: 100%;
  max-width: 480px;
  padding: 15px;
  margin: auto;
}
</style>
{% endblock styles %}

{% block content %}
<section id="login-container">
    <div class="sign-in">
        <h1 class="h3 mb-3 fw-normal text-center">Please sign in</h1>
        
        <form method="post" action="">
            {% csrf_token %}
            <div class="form-floating">
                <input type="text" class="form-control" id="username" name="username" placeholder="username" value="{{ form.username.value|default:"" }}">
                <label for="username">Username</label>
                {% if form.username.errors %}
                    {% for error in form.username.errors %}
                    <div class="alert alert-warning" role="alert">
                        {{ error }}
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                <label for="password">Password</label>
                {% if form.password.errors %}
                {% for error in form.password.errors %}
                <div class="alert alert-warning" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <input type="hidden" name="next" value="{{ next }}">
            <div class="mt-3">
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            </div>
            {% if form.errors %}
            <div class="my-3">
                {% for error in form.errors %}
                <div class="alert alert-warning" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </form>
    </div>
</section>
{% endblock content %}