{% extends 'base.html' %}

{% block title %}Manage Blog Posts - {{ block.super }}{% endblock title %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="/static/blog/styles/management.css" />
{% endblock styles %}

{% block content %}
<h1>Manage Posts</h1>
<div id="alerts"></div>
<table class="table-posts">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Author</th>
      <th>Is Published?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}
    <tr>
      <td>{{ post.pk }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.author }}</td>
      <td class="text-center">{{ post.is_published }}</td>
      <td class="text-center">
        <button data-postid="{{ post.pk }}" {% if post.is_published %}disabled{% endif %}>
          Publish
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script src="/static/blog/scripts/management.js"></script>
{% endblock scripts %}