{% extends "base.html" %}

{% block content %}
<h1>{{ post.title }}</h1>
{% if post.photo %}
<img src="{{ post.photo.url }}" alt="">
{% endif %}
<div>
    {{ post.content }}
</div>
{% endblock content %}