{% extends "base.html" %}

{% block content %}
<h1>Are you sure you want to delete: {{ post.title }}</h1>
<form action="" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Yes</button>
</form>
{% endblock content %}