<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Makina</title>
    {% block styles %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% endblock styles %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-{{ request.session.theme|default:"light"}} bg-{{ request.session.theme|default:"light"}}">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">makina.al</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'vehicle_list' %}">Automjete</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Tregtare</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'post_list' %}">Lajme</a>
              </li>
            </ul>
            {% if user.is_authenticated %}
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li>
                <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
              </li>
            </ul>
            {% else %}
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li>
                <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
              </li>
            </ul>
            {% endif %}
          </div>
        </div>
      </nav>
    <main class="container-fluid">{% block content %}{% endblock content %}</main>
    <footer>
        <p>Copyright &copy; 2021 - SDA PythonTirana2</p>
    </footer>
    {% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    {% endblock scripts %}
</body>
</html>