<!DOCTYPE html>{% load i18n static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Gledi" />
    <meta name="description" content="Python Tirana 7, SDA Albania Backend Programming & Final Project module">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta %}{% endblock meta %}
    <title>{% block title %}makina.al · PyTrAl7 · SDA{% endblock title %}</title>
    {% block styles %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Secular+One&display=swap" rel="stylesheet">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-badge@1.0.1/dist/bulma-badge.min.css">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    {% endblock styles %}
  </head>
  <body>
    {% include 'navbar.html' %}
    <main>
      {% if messages %}
        <div class="messages">
        {% for message in messages %}
          <div class="notification is-{{ message.level_tag }}">
            {{ message }}
          </div>
        {% endfor %}
        </div>
      {% endif %}
      {% block content %}{% endblock content %}
    </main>
    <footer>
      <p>Copyright &copy; 2022 · Python Tirana 7 · SDA Albania</p>
    </footer>
    {% block scripts %}{% endblock scripts %}
  </body>
</html>