{% load i18n %}
<header>
  <a href="/" class="logo">makina<small>.al</small></a>
  <nav>
    <ul>
      <li><a href="/">{% translate "Home" %}</a></li>
      <li><a href="/">{% translate "Vehicles" %}</a></li>
      <li><a href="/posts/">{% translate "Blog" %}</a></li>
      <li><a href="">About Us</a></li>
      <li><a href="">Contact Us</a></li>
      <li><a href="">Privacy Policy</a></li>
    </ul>
  </nav>
  <nav>
    <ul>
      {% if user.is_authenticated %}
      <li><a href="{% url 'profile' %}">Profile</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>
      <li><a href="{% url 'register' %}">Register</a></li>
      {% endif %}
    </ul>
  </nav>
</header>