{% extends 'base.html' %}

{% block styles %}
{{ block.super }}
<style>
  .alert {
    padding: 0.5rem 1.5rem;
    border: 1px solid black;
    background-color: #cd1811;
    color: white;
    margin-bottom: 1.5rem;
  }
  .form-actions {
    text-align: center;
  }

  .form-actions > button {
    padding: 1rem;
    cursor: pointer;
    color: red;
  }
</style>
{% endblock styles %}
{% block content %}
<h1>Delete <small>{{ vehicle }}</small>?</h1>
<form action="" method="post">
  {% csrf_token %}
  <div class="alert" role="alert">
    Are you sure you want to remove <em>{{ vehicle }}</em>?
  </div>
  <div class="form-actions">
    <button type="submit">Confirm!</button>
  </div>
</form>
{% endblock content %}