{% extends 'base.html' %}
{% load i18n static humanize %}
{% block title %}{{ vehicle }} - {{ block.super }}{% endblock title %}

{% block styles %}
{{ block.super }}
<style>
  .slideshow-container {
    min-height: 480px;
  }
</style>
<link rel="stylesheet" href="{% static 'vehicles/styles/slideshow.css' %}">
{% endblock styles %}


{% block content %}
<div class="is-flex is-justify-content-space-between">
  <h1 class="title">{{ vehicle }}</h1>
  <div>
    <a href="{% url 'vehicle-edit' pk=vehicle.pk %}" class="button is-primary">Edit</a>
    <a href="{% url 'vehicle-delete' pk=vehicle.pk %}" class="button is-danger">Delete</a>
  </div>
</div>
<section class="columns">
  <div class="column is-three-quarters">
    <div class="slides-container">
      {% for photo in vehicle.photos.all %}
      <div class="slides slides-fade">
        <div class="slides-numbertext">{{ forloop.counter }} / {{ vehicle.photos.count }}</div>
        <img src="{{ photo.picture.url }}" style="width: 100%">
        <div class="slides-text">Vehicle Pic</div>
      </div>
      {% empty %}
      <div class="slides slides-fade">
        <div class="slides-numbertext">0 / 0</div>
        <img src="{% static 'vehicles/images/nophoto.png' %}" style="width: 100%">
        <div class="slides-text">Vehicle Pic</div>
      </div>
      {% endfor %}

      <!-- Next and previous buttons -->
      <a class="slides-prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="slides-next" onclick="plusSlides(1)">&#10095;</a>
    </div>

    <!-- The dots/circles -->
    <div style="text-align: center">
      {% for photo in vehicle.photos.all %}
      <span class="slides-dot" onclick="currentSlide({{ forloop.counter }})"></span>
      {% endfor %}
    </div>
  </div>
  <div class="content column">
    <h1>{{ vehicle.make }} {{ vehicle.model }}</h1>
    <div class="box">
      Price: <strong>{{ vehicle.price|intcomma }} €</strong>
    </div>
    <div>
      <span>Year:</span>
      <strong>{{ vehicle.year }}</strong>
    </div>
    <div>
      <span>Transmission:</span>
      <strong>{{ vehicle.get_transmission_display }}</strong>
    </div>
    <div>
      <span>Fuel:</span>
      <strong>{{ vehicle.fuel }}</strong>
    </div>
    <div>
      <span>Plates:</span>
      <strong>{{ vehicle.plates }}</strong>
    </div>
    <div>
      <span>Kind:</span>
      <strong>{{ vehicle.kind }}</strong>
    </div>
    <div>
      <span>Km:</span>
      <strong>{{ vehicle.km }}</strong>
    </div>
    <div>
      <span>Color:</span>
      <strong>{{ vehicle.color }}</strong>
    </div>
    <div>
      <span>Description:</span>
      <br>
      {{ vehicle.description }}
    </div>
  </div>
</section>
{% endblock content %}

{% block scripts %}
<script src="{% static 'vehicles/scripts/slideshow.js' %}"></script>
{% endblock scripts %}